*.o
*.lo
*.la
*.fi
*~
*-
gforth
gforth-*
Makefile
vmgen
netlib/Makefile
netlib/configure
build-ec
doc/version.texi
libforth
preforth
engine/*.i
engine/Makefile
engine/libcc.h
engine/config.h
configure
gforthker
gforthmi.sh
stamp-h
gforthmi
machpc.fs
envos.fs
libltdl/m4/ltversion
libltdl/config-h
ltmain.sh
Makedist
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
doc/crossdoc.fd
TAGS
compat.zip
doc/doc.fd
doc/gforth.aux
doc/gforth.cp
doc/gforth.cps
doc/gforth.dvi
doc/gforth.fn
doc/gforth.fns
doc/gforth.info
doc/gforth.info-1
doc/gforth.info-2
doc/gforth.info-3
doc/gforth.info-4
doc/gforth.ky
doc/gforth.kys
doc/gforth.log
doc/gforth.pg
doc/gforth.ps
doc/gforth.texi
doc/gforth.toc
doc/gforth.tp
doc/gforth.txt
doc/gforth.vr
doc/vmgen.aux
doc/vmgen.cp
doc/vmgen.cps
doc/vmgen.dvi
doc/vmgen.fn
doc/vmgen.fns
doc/vmgen.info
doc/vmgen.ky
doc/vmgen.log
doc/vmgen.pg
doc/vmgen.ps
doc/vmgen.toc
doc/vmgen.tp
doc/vmgen.txt
doc/vmgen.vr
gforth.TAGS
prim.TAGS
engine/config.h.in
engine/makefile.dos
engine/makefile.os2
gforth.elc
kernel.TAGS
kernel.tags
kernel/aliases.fs
kernel/prim.fs
kernel/version.fs
prim-fast.b
prim.b
stamp-h.in
version
/.project
install-sh
