*.o
*.i
*.fi
*~
*-
gforth
gforth-*
Makefile
vmgen
netlib/Makefile
netlib/configure
build-ec
doc/version.texi
libforth
preforth
engine/Makefile
engine/libcc.h
engine/config.h
configure
gforthker
gforthmi.sh
stamp-h
gforthmi
machpc.fs
envos.fs
libltdl/m4/ltversion
libltdl/config-h
Makedist
aclocal.m4
autom4te.cache/
config.log
config.status
doc/crossdoc.fd
engine/config.h.in
engine/makefile.dos
engine/makefile.os2
gforth.elc
kernel.TAGS
kernel.tags
kernel/aliases.fs
kernel/prim.fs
kernel/version.fs
prim-fast.b
prim.b
stamp-h.in
version
