Bernd Paysan <bernd.paysan@gmx.de> <pazsan> <root@net2o.de>
Anton Ertl <anton@mips.complang.tuwien.ac.at> <anton>
Jens Wilke <jens.wilke@headissues.com> <jwilke>
David Kühling <dvdkhlng@gmx.de> <dvdkhlng>
Neal Crook <neal@pinga.free-online.co.uk> <crook>
Andreas Kochenburger <minforth@arcor.de> <ak042>
Lennart Benschop <lennartb@xs4all.nl> <benschop>
