Bernd Paysan <bernd.paysan@gmx.de> pazsan <pazsan>
Bernd Paysan <bernd.paysan@gmx.de> root <root@net2o.de>
Bernd Paysan <bernd.paysan@gmx.de> U-sunwukong\bernd <bernd@sunwukong.(none)>
Anton Ertl <anton@mips.complang.tuwien.ac.at> anton <anton>
Jens Wilke <jens.wilke@headissues.com> jwilke <jwilke>
David Kühling <dvdkhlng@gmx.de> dvdkhlng <dvdkhlng>
Neal Crook <neal@pinga.free-online.co.uk> crook <crook>
Andreas Kochenburger <minforth@arcor.de> ak042 <ak042>
Lennart Benschop <lennartb@xs4all.nl> benschop <benschop>
Andreas Bolka <a@bolka.at> abolka <abolka>
Darren Bane <unknown> dbane <dbane>
