#!/usr/bin/make -f
# -*- makefile -*-
# Simple debian/rules that uses debhelper.
# Created by Bernd Paysan, in the public domain

GFORTH_VER = `sed -e 's/^[^ ]\+ (\([^)]\+\).*/\1/; 1q' debian/changelog | tr '-' '_'`
D = $(CURDIR)/debian/gforth
DC = $(CURDIR)/debian/gforth-common
DL = $(CURDIR)/debian/gforth-lib
DB = $(CURDIR)/debian/gforth-bin
DH = $(CURDIR)/debian/gforth-html
DP = $(CURDIR)/debian/gforth-pdf
DV = $(CURDIR)/debian/gforth-dev
USHARE = $(DB)/usr/share/gforth/$(GFORTH_VER)
ULIB = $(DB)/usr/lib/$(DEB_HOST_MULTIARCH)/gforth/$(GFORTH_VER)

%:
	dh $@

override_dh_auto_test:
override_dh_shlibdeps:
override_dh_auto_configure:
	dh_auto_configure -- --with-elispstartdir=/etc/emacs/site-start.d

override_dh_auto_install:
	mkdir -p $(DB)/usr/lib/gforth/site-forth
	touch $(DB)/usr/lib/gforth/site-forth/site-init.fs
	dh_auto_install -- DESTDIR=$(DB)
	chmod 755 $(USHARE)/filedump.fs $(USHARE)/httpd.fs $(USHARE)/sieve.fs \
	$(ULIB)/kernl*.fi $(ULIB)/gforth.fi
	mkdir -p $(DC)/usr $(DC)/usr/bin $(DL)/usr/lib $(DV)/usr/include
	mv $(DB)/usr/share $(DC)/usr
	mv $(DB)/etc $(DC)
	mv $(DB)/usr/bin/vmgen* $(DC)/usr/bin
	mv $(DB)/usr/lib/$(DEB_HOST_MULTIARCH) $(DL)/usr/lib/$(DEB_HOST_MULTIARCH)
	mv $(DB)/usr/include/gforth.h $(DV)/usr/include
	mkdir -p $(DB)/usr/lib/$(DEB_HOST_MULTIARCH)
	mv $(DL)/usr/lib/$(DEB_HOST_MULTIARCH)/gforth $(DB)/usr/lib/$(DEB_HOST_MULTIARCH)
	mkdir -p $(D)/usr/bin
	mv $(DB)/usr/bin/gforth $(DB)/usr/bin/gforth-fast $(DB)/usr/bin/gforth-itc $(DB)/usr/bin/gforth-ditc $(DB)/usr/bin/gforthmi $(DB)/usr/bin/gforth-$(GFORTH_VER) $(DB)/usr/bin/gforth-fast-$(GFORTH_VER) $(DB)/usr/bin/gforth-itc-$(GFORTH_VER) $(DB)/usr/bin/gforth-ditc-$(GFORTH_VER) $(DB)/usr/bin/gforthmi-$(GFORTH_VER) $(D)/usr/bin

override_dh_installchangelogs:
	git log --date=format:%Y-%m-%d --pretty=format:'%cd  %cN  <%cE>%n%n%x09* %s%n' | gzip >$(DC)/usr/share/doc/gforth-common/changelog.gz
	rm -rf $(D)/usr/share/doc
	rm -rf $(DL)/usr/share/doc
	rm -rf $(DB)/usr/share/doc
	rm -rf $(DV)/usr/share/doc
